@keyframes gummy-btn-hover {
	40% {
		transform: scale(1.05);
		border-radius: 10px;
	}
	70% {
		transform: scale(1.05);
		border-radius: 16px;
	}
	100% {
		transform: scale(1.05);
		border-radius: 10px;
	}
}

@keyframes gummy-btn-press {
	75% {
		transform: scale(0.85);
		border-radius: 32px;
	}
	100% {
		transform: scale(0.9);
		border-radius: 20px;
	}
}

.submit {
	position: relative;
	padding: 8px;
	background-color: #4f5;
	color: #000;
	border: 3px solid #0a0;
	border-radius: 16px;
	font-family: inherit;
	font-size: 1rem;
	font-weight: 700;
	transition: all linear 0.2s;
}

.submit:hover {
	transform: scale(1.05);
	border-radius: 10px;
	animation: 0.5s linear gummy-btn-hover;
	cursor: pointer;
}

.submit:active {
	transform: scale(0.9);
	border-radius: 20px;
	animation: 0.2s linear gummy-btn-press;
}

.submit:before {
	content: "";
	position: absolute;
	top: 5px;
	right: 12px;
	width: 70%;
	height: 4px;
	background-color: #fff;
	border-radius: 8px;
}

.gummy-cherry {
	background-color: #f46;
	border-color: #a24;
}
.gummy-strawberry {
	background-color: #fad;
	border-color: #d7b;
}
.gummy-raspberry {
	background-color: #3df;
	border-color: #57c;
}
.gummy-lemon {
	background-color: #ff0;
	border-color: #b90;
}
